/* .child{
	border: 5px solid var(--bs-teal);
	height: 100px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
} */

/* container class style  */
/* div{
	background: var(--bs-info);
	height: 100px;
	margin-bottom: 20px;
} */


/* grid class style here  */
/* .row{
	margin-bottom: 20px;
}
.row div div{
	background: #82ccdd;
	border: 5px solid teal;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.row .row div div{
	background: #dd9f82c4;
	border: 5px solid rgb(128, 0, 60);
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
} */
