 .child{
	border: 5px solid var(--bs-teal);
	height: 100px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
} 

/* container class style  */
 div{
	background: var(--bs-info);
	height: 100px;
	margin-bottom: 20px;
} 


/* grid class style here  */
 .row{
	margin-bottom: 20px;
}
.row div div{
	background: #82ccdd;
	border: 5px solid teal;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.row .row div div{
	background: #dd9f82c4;
	border: 5px solid rgb(128, 0, 60);
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
} 

/* bootstrap column style here  */
 .row{
	margin-bottom: 20px;
	height: 200px;
	background: #fab1a0;

}
.row div{
	background: #d63031;
	border: 2px solid #fd79a8;
	color: #fff;
	padding: 20px;
	text-align: center;
} 

/* bootstrap gater style here  */

.row{
	margin-bottom: 20px;
	height: 200px;
	background: #fab1a0;

}
.row div div{
	background: #d63031;
	border: 2px solid #fd79a8;
	color: #fff;
	padding: 20px;
	text-align: center;
}

/* form container style here  */

#form{
	height: 100%;
}
#form{
	background: url(/bootstrap-background-3.jpg);
	background-size: cover;

}
.form-login{
	background: rgba(236, 240, 241, .35);
	border-radius: 10px;
	max-width: 450px;
	width: 100%;
	margin: auto;
	padding: 20px;
	color: white;
}
.btn-primary{
	background: crimson;
	border: 0  ;
}
.btn-primary:hover{
	background: gold;
}
